<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/signup.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="header">
  <h1 class="headertitle">T E S T I N G .. .. ..</h1>
</div>

<ul class="topnav">
  <li><a href="#about">About</a></li>
  <li><a href="#news">Product</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/index">Home</a></li>
</ul>

<div class="subheader"><b>SignUP Successful</b></div>
<p class="mid">Try logging in from LOGIN Page.</p>

<a class="foot" href="/index"><div class="footer">T E S T I N G .. .. ..</div></a>


</body>
</html>

