<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/css/signup.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <div class="header">
    <h1 class="headertitle">T E S T I N G .. .. ..</h1>
  </div>

  <ul class="topnav">
    <li><a href="#about">About</a></li>
    <li><a href="#news">Product</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/index">Home</a></li>
  </ul>

  <div class="subheader"><b>W E L C O M E</b></div>
  <% if (message != '') { %>
  <div>
    <p class="mid"><%= message %></p>
  </div>
  <% } %>
  <div class="formlayout">
    <form action="/sign_up" method="post">

      <label for="name">Name</label><br>
      <input type="text" id="name" name="name" placeholder="Your Name" required>

      <label for="phone">Contact Number</label>
      <input type="tel" id="phone" name="phone" placeholder="contact number" maxlength="10" minlength="10" required><br>

      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" placeholder="email" required><br>

      <label for="password">Password</label><br>
      <input type="password" id="password" name="password" placeholder="password" minlength="8" required><br>

      <input type="submit" value="Signup">
    </form>
  </div>

  <a class="foot" href="/index">
    <div class="footer">T E S T I N G .. .. ..</div>
  </a>


</body>

</html>